<template>
  <div class="movie">
    <div class="image" :style="{ backgroundImage: `url(${url})` }"></div>
    <div class="infos">
      <div class="title">{{ name }}</div>
      <div class="date">{{ year }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Movie',
  props: {
    url: String,
    name: String,
    year: String,
  },
};
</script>

<style scoped>
.movie {
  width: 380px;
  border-radius: 20px;
  padding: 10px;
  background: rgb(53, 61, 109);
  box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.2);
}

.movie .image {
  border-radius: 15px;
  height: 300px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.movie .infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 5px;
}

.movie .title {
  font-family: 'Alfa Slab One', cursive;
  font-size: 22px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie .date {
  font-size: 20px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 10px;
}
</style>
