<template>
  <div class="wallpaper">
    <Movie
      v-for="movie in movies"
      :key="movie.key"
      :name="movie.name"
      :url="movie.url"
      :year="movie.year"
    />
  </div>
</template>

<script>
import Movie from './Movie';

export default {
  name: 'Wallpaper',
  components: { Movie },
  props: {
    movies: Array,
  },
};
</script>

<style scoped>
.wallpaper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
</style>
