<template>
  <div id="app">
    <div class="content">
      <div class="layout">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
body {
  overflow: hidden;
}

#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  height: 100vh;
  background: linear-gradient(160deg, rgb(44, 49, 89), rgb(22, 26, 51));
  color: white;
  overflow: auto;
}

.layout {
  width: 1200px;
  margin: 0 auto;
}
</style>
