<template>
  <div>
    <div v-if="moviesStatus === 'success'">
      <div class="search">
        <input
          type="text"
          v-model="seachCriteria"
          placeholder="Recherchez un film..."
        />
      </div>
      <Wallpaper :movies="sortedMovies" />
    </div>
    <div class="loading" v-if="moviesStatus === null">
      En chargement...
    </div>
    <div class="error" v-if="moviesStatus === 'failed'">
      ⚠️ Impossible de charger les films, regardez votre console pour comprendre
      l'erreur
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Wallpaper from './../components/wallpaper/Wallpaper';

export default {
  name: 'app',
  components: { Wallpaper },
  data() {
    return {
      seachCriteria: '',
    };
  },

  computed: {
    ...mapGetters({
      movies: 'movies/getAll',
      moviesStatus: 'movies/getStatus',
    }),
    sortedMovies() {
      return this.movies
        .filter(
          _ =>
            _.name.toLowerCase().search(this.seachCriteria.toLowerCase()) >= 0,
        )
        .sort((movie1, movie2) => movie1.name.localeCompare(movie2.name));
    },
  },

  created() {
    this.$store.dispatch('movies/getMovies');
  },
};
</script>

<style lang="stylus" scoped>
.loading {
  height 100vh;
  display flex
  justify-content center
  align-items center
  font-family: 'Alfa Slab One', cursive;
  font-size: 22px;
}

.error {
  height 100vh;
  display flex
  justify-content center
  align-items center
  font-family: 'Alfa Slab One', cursive;
  font-size: 22px;
}

.search {
  margin: 30px 0;
}

.search input {
  width: 100%;
  padding: 0 20px;
  border-radius: 20px;
  border: 4px solid rgb(53, 61, 109);
  box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.2);
  height: 56px;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
</style>
